{% extends 'partials/admin-body.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block contenido %}
<div class="contenido-principal2">
    <div class="contenido-cuerpo borde">
        <form id="form1" action="" method="POST" enctype="multipart/form-data">
            <table class="table bg-white table-bordered results  w-100" id="proyectos">
                <thead class="bg-info">
                    <tr class="text-white">
                        <th scope="col">Elemento</th>
                        <th scope="col">Stock</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Marca</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Precio</th>
                        <th scope="col">%Ganancia</th>
                        <th scope="col">Foto</th>
                        <th scope="col">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for elemento in elementos %}
                    {% if elemento.estado == "Activo" %}
                    <tr>
                        <td>{{elemento.tipo_elemento}}</td>
                        <td>{{elemento.stock}}
                            {{elemento.stock_elemento}}
                            <a href="{% url 'elemento-stock' elemento.id %}"><svg xmlns="http://www.w3.org/2000/svg"  class="m-1 opcionesTabla bi bi-plus-square" style=" margin-top: 25px; margin-bottom: 25px; width: 19px; "viewBox="0 0 16 16">
                                <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                                </svg></a>
                        </td>
                        <td>{{elemento.nombre}}</td>
                        <td>{{elemento.marca}}</td>
                        <td>{{elemento.descripcion}}</td>
                        <td>{{elemento.precio}}</td>
                        <td>{{elemento.porcentaje_ganancia}}</td>
                        <td><img class="producto-img" width="100px" src="{{elemento.foto.url}}" alt=""></td>
                        <td>
                            <div class="row">
                                <a href="{% url 'administrador-electrodomestico-favorito' elemento.id %}" class="btn btn-primary btn-sm col-2"><img  width="16" height="16" 
                                {% if elemento.favorito == True %}
                                    src="{% static 'img/estrellitaActivada-1.png' %}" 
                                {% else %}
                                    src="{% static 'img/estrellitaDesactivada-1.png' %}" 
                                {% endif %}
                                alt=""/></a>
                                <!-- Boton modal elemento editar -->
                                <a class="btn btn-primary btn-sm col-2"
                                    href="{% url 'administrador-elemento-editar' elemento.id %}"><svg
                                        xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-pencil-square" viewBox="0 0 16 16">
                                        <path
                                            d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                        <path fill-rule="evenodd"
                                            d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                    </svg></a>
                                <!-- Boton modal elemento eliminar -->
                                <a class="btn btn-danger btn-sm col-2"
                                    href="{% url 'administrador-elemento-eliminar' elemento.id %}"><svg
                                        xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-trash3" viewBox="0 0 16 16">
                                        <path
                                            d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
                                    </svg></a>
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </form>
        <div class="anuncio ">
            <!-- Boton modal -->
            <a type="button" class="boton" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <input class="btn btn-success btn-block m-2"type="submit" Value="Crear Elemento">
            </a>
            <a type="button" class="boton" href="{% url 'administrador-marca' %}">
                <input class="btn btn-success btn-block m-2" type="submit" Value="Marcas"></a>
            <!-- Categorias -->
            <a type="button" class="boton" href="{% url 'administrador-categoria' %}">
                <input class="btn btn-success btn-block m-2" type="submit" Value="Categorias"></a>
            <!-- Modal -->
            {% load crispy_forms_tags %}
            <div class="modal fade show" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Crear Nuevo Elemento</h5>
                            <a class="btn-close" data-bs-dismiss="modal" href="{{url_back}}" aria-label="Close"></a>
                        </div>
                        <div class="modal-body">
                            <form action="" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{ form|crispy }}
                        </div>
                        <div class="modal-footer">
                            <a class="btn btn-secondary" data-bs-dismiss="modal" href="{{url_back}}">Cancelar</a>
                            <input type="submit" class="btn btn-success" value="Agregar Elemento"></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock contenido %}