<!-- Modal Carrito-->
<div class="modal fade" id="carritoModal" tabindex="-1" aria-labelledby="carritoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="centrar">
                    <h5 class="modal-title" id="carritoModalLabel">Tu producto se agregó al carrito</h5>
                </div>
                <div> <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button></div>
            </div>
            <div class="modal-body">
                <div class="col-6"><a href="{% url 'usuarios-carrito' %}" class="btn btn-danger mb-2">Ir al Carrito</a></div>
                <div class="col-6"><a href="#" class="btn btn-danger mb-2" data-bs-dismiss="modal" aria-label="Close">Seguir Comprando</a></div>
               
            </div>
        </div>
    </div>
</div>