{% extends 'partials/user-body.html' %}
{% block contenido %}
    <div class="contenedor-Detalles">
        {% for elemento in elementos %}
        {% if elemento.id == elemento.tipo_elemento_id %}
            <div class="pr-img">
                <img src="{{ elemento.foto.url }}" alt="">
            </div>
            <div class="pr-des">
                <div class="pr-des-titulo-Detalles">{{elemento.nombre}}</div>
                <div class="pr-des-precio">$ {{elemento.precio}}</div>
                <div class="pr-des-texto-Detalles">
                    <p>{{elemento.descripcion}}</p>
                </div>
                <div class="pr-des-boton">Agregar al Carrito</div>
            </div>
        {% endif %}    
        {% endfor %}   
    </div>

{% endblock contenido %}

 

