{% extends 'partials/user-body.html' %}
{% block contenido %}
    <div class="contenedor-Detalles">
        {% for elemento in elementos %}
        {% if elemento.id == elemento.tipo_elemento_id %}
            <div class="pr-img">
                <img src="{{ elemento.foto.url }}" alt="">
            </div>
            <div class="pr-des">
                <div class="pr-des-titulo-Detalles">{{elemento.nombre}}</div>
                <div class="pr-des-precio">$ {{elemento.precio}}</div>
                <div class="pr-des-texto-Detalles">
                    <p>{{elemento.descripcion}}</p>
                </div>
                <div class="pr-des-boton">Agregar al Carrito</div>
            </div>
        {% endif %}    
        {% endfor %}   
    </div>
{% endblock contenido %}
    <!------------------------- Footer ------------------------->
    <footer class="subheader">
        <div class="subheaderimg"><img src="img/logoSena.png" alt=""></div>
        <section class="contenido-footer">
            <div class="datos">
                <div><img src="img\Logo correo.png" alt=""> Admi: Carlos Andres Pulido Ramirez</div>
                <div><img src="img\Logo telefono.png" alt=""> 3124661810</div>
                <div><img src="img\Logo arroba.png" alt=""> licuadoraspulido@misena.edu.co</div>
                <div><img src="img\Logo dirección.png" alt=""> Car 10 #19-69</div>
            </div>
            <div class="redes">
                <img src="img\Logo whatsapp.png" alt="">
                <img src="img\Logo facebook.png" alt="">
                <img src="img\Logo instagram.png" alt="">
            </div>
            <div class="politicas">
                <a href="">Aviso legal</a>
                <a href="">Politica de privacidad</a>
                <a href="">terminos y condiciones</a>
                <a href="">Fuentes de referencia</a>
            </div>
        </section>
    </footer>
    <!------------------------- ------- ------------------------->
</body>
<div>
    <a href="http//www.whatsapp.com"><img src="img/Whatsapp_37229.png" alt="" class="contacto"></a>
</div>
<div class="anuncio">
    <!-- Button trigger modal -->
    <button type="button" class="contacto2" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <img src="img/help-outline_119052.png" alt="" class="contacto2">
    </button>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="centrar">
                        <h5 class="modal-title" id="exampleModalLabel">Manual de ayuda al cliente
                        </h5>
                    </div>
                    <div> <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button></div>
                </div>
                <div class="modal-body  ">
                    <b>1¿Cómo puedo hacer una compra?</b> 
                    <br> Esta pagina no esta diseñada para realizar compras, ya que el objetivo de esta es brindar información y permitir a los clientes realizar sus cotizaciones de nuestros productos y servicios.
                    <br>
                    <b>2¿Que servicios ofrece la Central de Licuadoras Pulido?</b> 
                    <br>Nosotros ofrecemos el servicio de venta, mantenimiento y reparación de electrodomésticos.
                    <br>
                    <b>3¿Que garantía tienen los productos y servicios que ofrece este establecimientos?</b> 
                    <br>
                    <br>
                    <b>4¿Como puedo contactarme con un técnico?</b> 
                    <br>En la parte inferior de nuestra pagina encontrara información de medios de comunicación como nuestras redes sociales y encontrara nuestra línea telefónica (3124661810).
                    <br>
                    <b>5¿En donde puedo encontrar nuestro establecimiento?</b> 
                    <br>Nuestro establecimiento se encuentra ubicado en "Bogotá Carrera 10#19-69 Edificio Camacol".
                </div>
            </div>
        </div>
    </div>
</div>
</html>