{% extends 'partials/user-body.html' %} 
{% load crispy_forms_tags %}
{% block contenido %}
{% load static %}
<body>
    <div class="contenido-cuerpo borde">
        <div>
            <h1 class="text-center title-size">Nosotros</h1>
        </div>
        <p class="borde linea" style=" border-color:#000000; border-top-style:solid; border-top-width:3px;"></p>
        <div class="container container1 bg-white w-80 rounded mt-4 pt-4">
            <div class="text-center px-3">
                <h3 class="guiones">Somos una empresa constituida desde hace 10 años en la ciudad de Bogotá por ............. y adquirida desde hace 2 años por el actual propietario Carlos Andrés Pulido Ramírez como un sueño de constituir un negocio propio y con metas grandes
                    y firmes que ahora se demuestran con "Central de licuadoras Pulido" que es un negocio certificado como vendedor oficial de reconocidas marcas tales como ("Samurai, Imusa, Oster....") y con una alta certificación que acreditan nuestros
                    clientes como un negocio de reparación de electrodomésticos confiable y eficiente siempre a las órdenes de sus clientes.
                </h3>
            </div>
            <br>
            <div class="pr-des-contactos">
                <div class="liness">
                    <div class="ser">
                        <img class="cont" src="{% static 'img/icons/person-square.svg' %}" alt=""><div class="tm"> Carlos Andrés Pulido</div>
                    </div>
                    <br>
                    <div class="ser">
                        <img class="cont" src="{% static 'img/icons/telephone-fill.svg' %}" alt=""><div class="tm">3124661810</div>
                    </div>
                </div>
                <div class="liness">
                    <div class="ser">
                        <img class="cont" src="{% static 'img/icons/person-square.svg' %}" alt=""> <div class="tm"> Carlos Andrés Pulido</div>
                    </div>
                    <br>
                    <div class="ser">
                        <img class="cont" src="{% static 'img/icons/telephone-fill.svg' %}" alt=""> <div class="tm">3124661810</div>
                    </div>
                </div>
                <div class="liness">
                    <div class="ser">
                        <img class="cont" src="{% static 'img/icons/person-square.svg' %}" alt=""> <div class="tm"> Carlos Andrés Pulido</div>
                    </div>
                    <br>
                    <div class="ser">
                        <img class="cont" src="{% static 'img/icons/telephone-fill.svg' %}" alt=""> <div class="tm">3124661810</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock contenido %}