<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styleusuarios.css">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/jquery-3.2.1.slim.min.js"></script>
    <link rel="shortcut icon" href="img/Logo Proyecto.png" type="image/x-icon">
    <title>Restablecer Contraseña - Licuadoras Pulido</title>
</head>
<body>
    <div class="ContInicioSesion">
        <div class="cont">
            <div><a class="centrado" href="Inicio Sesión.html"><img class="imgLogo" src="img/Logo Proyecto.png" alt=""></a></div>
            <div class="centrado">
                <form action="">
                    <h1>Restablecer contraseña</h1><br>
                    <label class="centrado" for="nuevacontraseña">Ingrese contraseña nueva</label>
                    <div class="centrado"><input type="password" name="nuevacontraseña" id=""></div>
                    <br>
                    <label class="centrado" for="confirmarcontraseña">Confirmar contraseña</label>
                    <div class="centrado"><input type="password" name="confirmarcontraseña" id=""></div>
                    <br>
                </form> 
            </div>
        </div>
        <div class="centrado">
            <div class="anuncio">   <!-- Boton modal 3 -->
                <p><button type="button" class="boton" data-bs-toggle="modal" data-bs-target="#exampleModal">Confirmar</button></p>
                                    <!-- Modal 3 -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            <div class="modal-header">
                                <div class="centrado"><img class="imgLogo" src="img/Logo Proyecto.png" alt=""></div>
                            </div>
                            <div class="modal-body">
                                <h3 class="centrado"> Su contraseña ha sido modificada <br> vuelva a  iniciar sesión. </h3>
                            </div>
                            <div class="centrado">
                                <a href="index.html" class="boton"> Finalizar </a>
                                <a href="Inicio Sesión.html" class="boton"> Iniciar Sesión </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<footer class="subheader">
    <div class="subheaderimg"><img src="img/logoSena.png" alt=""></div>
        <section class="contenido-footer">
            <div class="datos">
                <div><i class="bi bi-telephone-fill">  Admi: Carlos Andres Pulido Ramirez</i></div>
                <div><i class="bi bi-person-fill">  3124661810</i></div>
                <div><i class="bi bi-envelope-paper">  licuadoraspulido@misena.edu.co</i></div>
                <div><i class="bi bi-map-fill">  Car 10 #19-69</i></div>
            </div>
            <div class="redes">
                <i class="bi bi-whatsapp"></i>
                <i class="bi bi-facebook"></i>
                <i class="bi bi-instagram"></i>
                © Copyright 2022
            </div>
            <div class="politicas">
                <a href="">Aviso legal</a>
                <a href="">Politica de privacidad</a>
                <a href="">terminos y condiciones</a>
                <a href="">Fuentes de referencia</a>
            </div>
        </section>
 </footer>
</html>