{% extends 'partials/user-body.html' %} 
{% load crispy_forms_tags %}
{% block contenido %}
{% load static %}
<body>
    <div class="contenido-cuerpo borde">
        <div>
            <h1 class="text-center title-size">Servicios</h1>
        </div>
        <p class="borde" style=" border-color:#000000; border-top-style:solid; border-top-width:3px;"></p>
        <div class="container container1 bg-white w-80 rounded mt-4">
            <div>
                <h2 class="text-center px-3">Les brindamos servicio de mantenimiento y reparación de todo tipo de electrodomésticos</h2>
            </div>
            <br>
            <div class="text-center px-3">
                <h3 class="guiones">Comuniquese con nosotros para tener el gusto de atenderlos y bridarles el mejor servicio en reparacion y mantenimiento de electrodomésticos, en nuestras lineas de atención o acercándose a nuestro establecimiento. </h3>
            </div>
            <br>
            <div class="pr-des-contactos">
                <div class="liness">
                    <div class="ser">
                        <img class="cont" src="{% static 'img/icons/person-square.svg' %}" alt=""><div class="tm"> Carlos Andrés Pulido</div>
                    </div>
                    <br>
                    <div class="ser">
                        <img class="cont" src="{% static 'img/icons/telephone-fill.svg' %}" alt=""><div class="tm">3124661810</div>
                    </div>
                </div>
                <div class="liness">
                    <div class="ser">
                        <img class="cont" src="{% static 'img/icons/person-square.svg' %}" alt=""> <div class="tm"> Carlos Andrés Pulido</div>
                    </div>
                    <br>
                    <div class="ser">
                        <img class="cont" src="{% static 'img/icons/telephone-fill.svg' %}" alt=""> <div class="tm">3124661810</div>
                    </div>
                </div>
                <div class="liness">
                    <div class="ser">
                        <img class="cont" src="{% static 'img/icons/person-square.svg' %}" alt=""> <div class="tm"> Carlos Andrés Pulido</div>
                    </div>
                    <br>
                    <div class="ser">
                        <img class="cont" src="{% static 'img/icons/telephone-fill.svg' %}" alt=""> <div class="tm">3124661810</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock contenido %}