{% extends 'partials/admin-body.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block contenido %}
    <div class="contenido-cuerpo borde d-flex ">
        <h1 class="text-center font-4em">Datos del usuario {{usuario.Unombre}}</h1>


        <div style="margin: 50px;" class=" text-dark bg-light column ver-d datos ">
            <div class="tabla-ver bg-ver w-tableVer  mx-auto">
                <div class="contenedorTabla  tablaProducto  ">
                    <table class=" table results  centrar font-2em tablaVer" >
                    <thead class="borderT  ">
                        <tr >
                            <th scope="col"  >Codigo :</th>
                            <th scope="col" >{{usuario.Uid}}</th>
                        </tr>
                        <tr>
                            <th scope="col"  >Nombre :</th>
                            <th scope="col">{{usuario.Unombre}} </th>
                        </tr>
                        <tr>
                            <th scope="col"  >Apellido :</th>
                            <th scope="col">{{usuario.apellido}}</th>
                        </tr>
                        <tr >
                            <th scope="col"  >Tipo documento :</th>
                            <th scope="col" >{{usuario.tipo_documento}}</th>
                        </tr>
                        <tr>
                            <th scope="col"  >Documento :</th>
                            <th scope="col">{{usuario.documento}} </th>
                        </tr>
                        <tr>
                            <th scope="col"  >Celular  :</th>
                            <th scope="col">{{usuario.celular}}</th>
                        </tr>
                        <tr >
                            <th scope="col"  >Rol  :</th>
                            <th scope="col" >{{usuario.rol}}</th>
                        </tr>
                        <tr>
                            <th scope="col"  >Estado  :</th>
                            <th scope="col">{{usuario.estado}} </th>
                        </tr>
                    </table>
                </div>      
            </div>
        </div>
    </div>
{% endblock contenido %}