{% extends 'partials/admin-body.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block contenido %}
<div class="cuerpo-admin">
    <div class="contenido-cuerpo borde d-flex ">
        <a class=" rounded-pill m-2" href="{% url 'usuario-tablaUsuario' %}">
            <svg xmlns="http://www.w3.org/2000/svg" width="33" height="33" fill="currentColor"
                class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
                <path
                    d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
            </svg>
        </a>
        <h1 class="text-center font-4em">Historial de {{usuario.Unombre}} {{usuario.apellido}}</h1>
        {% comment %} <div class="row d-flex justify-content-center mt-3">
            <div class="col-3">
                <p><b>Rol:</b> {{usuario.rol}}</p>
            </div>
            <div class="col-3">
                <p><b>Usuario:</b> {{factura.usuario}}</p>
            </div>
            <div class="col-3">
                <p><b>Tipo factura:</b> {{factura.tipofactura}}</p>
            </div>
            <div class="col-2">
                <p><b>Total:</b> </p>
            </div>
        </div> {% endcomment %}
        <form id="form1">
            <table class="table table-bordered results" id="botonestabla">
                <thead class="bg-info">
                    <tr class="text-white">
                        <th scope="col">ID</th>
                        <th scope="col">Nombre de usuario</th>
                        <th scope="col">Fecha</th>
                        <th scoper="col">Neto a pagar</th>
                        <th scope="col">Tipo de factura</th>
                        <th scope="col">Estado</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tfactura in tfacturas %}
                    {% if usuario.Unombre%}
                    <tr>
                        <td>{{tfactura.id}}</td>
                        <td>{{tfactura.usuario}}</td>
                        <td>{{tfactura.fecha}}</td>
                        <td id="total_campos2">ftrg</td>
                        <td>{{tfactura.tipofactura}}</td>
                        <td>{{tfactura.estado}}</td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </form>
    </div>
</div>
{% endblock contenido %}