{% extends 'partials/admin-body.html' %} 
{% load crispy_forms_tags %}
{% load static %}
{% comment %} {% block contenido %}
<body>
    <section class="contenido-cuerpo borde">
        <br>
        <h1 class="centrado">Copia de Seguridad</h1>
        <div class="ContenedorCaja">
            <h2 class="centrado">Generar copia</h2>
            <br>
            <p class="centrado">Elija el sitio en el que quiere que se guarde la copia de seguridad</p>
            <div class="centrado">
                <a href="#" class="boton"><i class="bi bi-house-fill"> Descargar</a></i>
                <a href="#" class="boton"><i class="bi bi-box-arrow-in-right"> Subir</a></i>
            </div>
        </div>   
    </section>
</body>
{% endblock contenido %} {% endcomment %}
{% block contenido %} 
{% load crispy_forms_tags %} 
{% load static %}
<div class="contenido-cuerpo borde ">
    <div class="row">
        <div class="col">
            <h2>Exportar</h2>
            <form action="{% url 'administrador-copiaseguridad' tipo='D' %}" method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <!-- <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" name="modelos_lista" value="Todo" id="">
                        <label class="form-check-label" for="modelos_lista">Todo</label>
                    </div> -->
                    {% for modelo in ficheros %}
                    <div class="mb-3 "> 
                        <a href="{% static 'copiaseguridad' %}/{{modelo}}">{{modelo}}</a>
                    </div>
                    {% endfor %}
                </div>
                <input type="submit" value="Generar Copia">
            </form>
        </div>
        <div class="col">
            <h2>Importar</h2>
            <form action="{% url 'administrador-copiaseguridad' tipo='U' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %} {{form|crispy}}
                <input type="submit" value="Enviar">
            </form>
        </div>
        <div class="col">
            <h2>Historial de Importes</h2>
            <table class="table" id="tabla">
                <thead class="bg-info">
                    <tr class="text-white">
                        <th scope="col">Nombre</th>
                        <th scope="col">Archivo</th>
                        <th scope="col">Fecha</th>
                    </tr>
                </thead>
                <tbody>
                    {% for copia in copiaseguridad %}
                    <tr>
                        <td>{{copia.nombre}} </td>
                        <td>{{copia.archivo.url}} </td>
                        <td>{{copia.fecha}} </td>
                    </tr>
                    {% endfor%}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock contenido %}