{% extends 'partials/body-login.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block contenido %}
<body>
    <div class="ContInicioSesion">
        <div class="cont">
            <div><a class="centrado"><img class="imgLogo" src="img/Logo Proyecto.png" alt=""></a></div>
            <div class="centrado">
                {% if validlink %}
                    <h1>Restablecer contraseña:</h1><br>
                    <form method="post">
                    {% csrf_token %}
                    {{ form.new_password1.errors }}
                    <label class="centrado" for="id_new_password1">Ingrese contraseña nueva</label>
                    {{ form.new_password1 }}
                    <!-- <div class="centrado"><input type="password" name="nuevacontraseña" id=""></div> -->
                    <br>
                    {{ form.new_password2.errors }}
                    <label class="centrado" for="id_new_password2">Confirmar contraseña</label>
                    {{ form.new_password2 }}
                    <!-- <div class="centrado"><input type="password" name="confirmarcontraseña" id=""></div> -->
                    <br>
                </form> 
                {% else %}
                <h1 class="centrado">ENLACE INVÁLIDO: ESTE ENLACE YA HA SIDO UTILIZADO</h1>
            </div>
        </div>
        <div class="centrado">
            <div class="anuncio">   <!-- Boton modal 3 -->
                <p><button type="button" class="boton" data-bs-toggle="modal" data-bs-target="#exampleModal">Confirmar</button></p>
                                    <!-- Modal 3 -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            <div class="modal-header">
                                <div class="centrado"><img class="imgLogo" src="img/Logo Proyecto.png" alt=""></div>
                            </div>
                            <div class="modal-body">
                                <h3 class="centrado"> Su contraseña ha sido modificada <br> vuelva a  iniciar sesión. </h3>
                            </div>
                            <div class="centrado">
                                <a href="index.html" class="boton"> Finalizar </a>
                                <a href="Inicio Sesión.html" class="boton"> Iniciar Sesión </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endif %}
{% endblock contenido %}