{% load static %}
{% block contenido %}

{% include "user/login.html" %}
<!-- Modal Mensaje Confirmación de Envio de Correo -->
<div class="centrado modal fade show" id="exampleModal1" tabindex="-1" 
     aria-labelledby="exampleModal1Label" aria-hidden="true" role="dialog" style="display: block;">
    <div class="modal-dialog">
        <div class="modal-content">
            <a class="btn-close" data-bs-dismiss="modal" href="{% url 'usuario-login' %}" aria-label="Close"></a>
            <div>
                <img class="imgLogo rounded-circle" src="{% static 'img/Logooo.png' %}" alt="">
            </div>
            <div>
                <h3 > Hemos enviado a tu correo un enlace para la recuperación de tu contraseña: </h3>
            </div>
            <div class="m-4">
                <h5>1. Ingresa a tu  correo electronico. <br> 2. Clik en el enlace de recuperación. </h5>
            </div>
            <div class="m-2">
                <a href="{% url 'usuarios-inicio' %}">
                <input class="btn btn-success" value="Finalizar"></button></a>
            </div>
        </div>
    </div>
</div>   
<div class="modal-backdrop fade show"></div>   

{% endblock contenido %}