 .f0 {
    font-size: 0.8rem;
  }
  .f1 {
    font-size: 0.9rem;
  }
  .f2 {
    font-size: 1rem;
  }
  .f3 {
    font-size: 1.1rem;
  }
  .f4 {
    font-size: 1.2rem;
  } 
body{
    background-image: url( '../img/fondo-de-body.webp');
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
}
.borde{
    width: 80%;              
    margin: 0 auto;
}
/*-------------------------------navbar-----------------------------*/
header{
    background: #0b318a;
    margin: 0 auto;
}
.dark-mode header{
    background-color:#0D1821;
    color:#fff;
}
.navbar{
    height: auto; 
}
.contenido-navbar{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.pt1 img{
    width: 320px;
}
.pt2 p{
    color: #fff;
    font-size: 15px;
    padding-top: 22px;
}
.salir{
    background-color: #fff;
    margin-left: 30px;
    padding: 6px;
    border-radius: 50px;
}
.salir a{  
    color: #000;
}
.salir img{
    width: 30px;
}
/*-----------------------------Accesibilidad------------------------------*/
.btn {
    margin-left: 35px;
    color: #212529;
    padding: 3px 3px 3px 3px;
    font-size: 1rem;
}
/*-----------------------Menú de navegación-----------------------------*/
.nav-menu{
    background-color: rgb(55, 211, 198);
    color: #fff;
}
.dark-mode .nav-menu {
    background-color:#2d3c5e9f;
    color:#fff;
}
.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}
nav{
    background-color: #e6571f;
    border: 1px solid #000;
}
.dark-mode nav{
    background-color:#fff;
    color:#000;
}
.v-line{
    border-left: thick solid #000;
    height:100%;
    left: 50%;
    border-width:1px;
}
@media only screen and (min-width: 992px) {
    #item{
        padding: 6px 25px 6px 25px;
    }
}
@media only screen and (min-width: 1250px) {
    #item{
        padding: 6px 40px 6px 40px;
    }
}
@media only screen and (min-width: 1602px) {
    #item{
        padding: 6px 60px 6px 60px;
    }
}
@media only screen and (min-width: 1917px) {
    #item{
        padding: 6px 78px 6px 70px;
    }
}
@media only screen and (min-width: 2400px) {
    #item{
        padding: 6px 120px 6px 120px;
    }
}
/*----------------------------------Cuerpo-------------------------------*/
.cuerpo-admin{
    background: url('/img/Fondo\ electrodomesticos.webp');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    height: auto;
    margin: 0 auto;
}
.container{
    background-color: #ffffffd5 !important;
    height: 100% !important;
    padding: 3% 19px;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.contenido-cuerpo{
    background-color: #ffffffd5;
    height: 100%;
    padding: 3% 10px;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.dark-mode .contenido-cuerpo {
    background: #0c111bda;
}
.part {
    color: #fff;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: right;
    width: 100%;
    margin-bottom: 15px;
}
.colortab{
    background: #0c389e;
}
.colortab th{
    color: #fff;

}
.tablas{
    background: #fff;
}
.dark-mode .tablas{
    background-color: #0D1821;
    color:#fff;
}
/*---------------------------Botones Inicio----------------------------*/
.botones{
    padding: 15px;
    display: flex;
    justify-content: center;    
}
.margen{
    margin-bottom: 21px;
}
.bt a{ 
    display: block;
    text-align: center;
    padding: 40px 100px;
    margin-top: 16px;
    text-decoration: none;
    color: #fff;
    /* font-size: larger;
    font-weight: bolder; */
    background-color: #e6571f;     
}
.formulario{
    overflow: scroll;
}
.dark-mode .dataTables_filter label{
    color: #fff;
}
.dark-mode .dataTables_info{
    color: #fff;
}
.dark-mode .color-dark{
    color: #fff;
}
#item {
    color: #fff;
}
.dark-mode #item{
    color: #000;
}
/*--------------------------------Footer--------------------------------*/
footer{
    background-color: #0b318a;
    position: relative;
    bottom: 0;
    width: 100%;
}
.dark-mode footer{
    background-color:#0D1821;
    color:#fff;
}
 .caja{
    color: #fff;
    display: flex;
    justify-content: center;
}
 .caja2 a{  
    padding: 6px;
    display: flex;
    justify-content: center;
    color: #fff;
    text-decoration: none;
}
.caja1 a{
    color: #fff;
    text-decoration: none;
}
.sublogo{ 
    width: 50px;
    position: absolute;
    border-radius: 50%;
    padding: 5px;
    top: -30px;
    left: 47%;
}
.sublogo img{
    width: 80px;
}
.tabla-ver{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100% !important;
}
.tabla-ver div{
    min-width: 200px !important;
    margin: 0 10px;
}
@media (min-width: 420px ){
    .tabla-ver{
        width: 100% !important;
        min-width: 300px !important;
    }
    .tabla-ver div{
        width: 100% !important;
        min-width: 300px !important;
    }
}
.conttoast{
    width: 350px !important;
    height: 120px !important;
    display: flex;
    justify-content: space-between;
    position: relative;
    background-color: transparent !important;
}
.conttoast2{ 
    width: 80px;
    height: 80px;
    border-radius: 50px;
    position: absolute;
    top: 17px;
    left: 0;
    padding: auto;
}
.iconos{
    width: 60px;
    height: 60px;
    margin: auto;
}
.coco{
    background-color: green !important;
}
.cco{
    border: 4px solid green;
}
.coer{
    background-color: red !important;
}
.ce{
    border: 4px solid red;
}
.coal{
    background-color: orange !important;
}
.ca{
    border: 4px solid orange;
}
.conttoast3{
    border-radius: 10px;
    width: 310px;
    height: 100%;
    margin-left: auto;
    padding: 10px;
    background-color: #fff;
}
.titulo{
    font-size: 2rem;
    font-weight: bolder;
}
.subtitulo{
    font-size: 1rem;
    font-weight: bolder;
    margin-left: 5px;
}

/*--------------------responsive  Daniela-------------------*/

@media (max-width:420px) {
    .contenido-cuerpo {
		font-size:auto !important;
    	width: 100% !important;
  	}
}

@media (max-width:420px) {
    .navbar1{
        width:680% !important;
        justify-items: center !important;
  	}
}
@media (max-width:420px) {
    .fecha{
        align-items: center;
        height: 90%;
        width: 140%;
        justify-content: left !important;
        margin-left:25% !important;
  	}
}
@media (max-width:420px) {
    .accesibilidadadminre{
        margin-left: 110% !important;
  	}
}
@media (max-width:420px) {
    .inicioadminre{
        margin-left: 20% !important;
  	}
}

@media (max-width:420px) {
    .fecha2{
        align-items: center;
        height: 90%;
        width: 140%;
        justify-content: left !important;
        margin-left:20% !important;
  	}
}
@media (max-width:420px) {
    .accesibilidad{
        margin-left: 36% !important;
  	}
}
/*--------------------responsive  Daniela->------------------*/
